<div class="wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-12">
        <div class="ibox product-detail border-left-right border-bottom">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-images" style="display:none">
                            {% for imageId in Article.Image_ids %}
                            <div>
                                <div class="product-image-box">
                                    <img class="image" alt="Zdjęcie" {% if imageId == null %} src="/Content/Assets/article.png" {% else %} src="/Article/GetImageBinary/{{imageId}}" {% endif %}>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="m-b-lg" >
                            <div class="pull-left">
                                <h3 class="font-bold m-b-xs">
                                    {{Article.Name}}
                                </h3>
                            </div>
                            <div id="rating-widget" class="pull-right rating-widget" data-offerid="{{Article.Offer_id}}" data-loadratingurl="/Article/LoadOfferRating" data-rateofferurl="/Article/RateOffer">
                                <dl class="dl-horizontal small m-t-none small">
                                    <dt>Ocena:</dt>
                                    <dd class="stars-inactive">
                                        <span style="font-size:16px;">                                            
                                            <i class="fa fa-star-o" data-starnumber="1"></i>
                                            <i class="fa fa-star-o" data-starnumber="2"></i>
                                            <i class="fa fa-star-o" data-starnumber="3"></i>
                                            <i class="fa fa-star-o" data-starnumber="4"></i> <!--fa fa-star-half-o-->
                                            <i class="fa fa-star-o" data-starnumber="5"></i>
                                            <span class="average">0 (0)</span> 
                                        </span>
                                    </dd>
                                    <dt>Moja ocena:</dt>
                                    <dd class="stars-interactive">
                                        <span style="font-size:16px;">
                                            <i class="fa fa-star-o" data-starnumber="1"></i>
                                            <i class="fa fa-star-o" data-starnumber="2"></i>
                                            <i class="fa fa-star-o" data-starnumber="3"></i>
                                            <i class="fa fa-star-o" data-starnumber="4"></i> <!--fa fa-star-half-o-->
                                            <i class="fa fa-star-o" data-starnumber="5"></i>
                                        </span>
                                    </dd>
                                </dl>
                            </div>
                            <script type="text/javascript">
                                $('#rating-widget').rateWidget();
                            </script>
                        </div>
                        <small class="text-muted">{{article.Code}}</small>
                        <br />
                        <small class="font-bold">{{Article.Variant}}</small>
                        <div class="m-t-md">
                            <!--<button class="btn btn-primary pull-right">Add to cart</button>-->
                            <div>
                                <div class="btn-group pull-right">
                                    <button class="btn btn-white " title="Dostępne">{% if article.Quantity == null %} 0 {% else %} {{Article.Quantity}} {% endif %} </button>
                                    <button class="btn btn-white  order-quantity-container">
                                        <input class="quantity" type="text" name="orderQuantity" placeholder="1">
                                    </button>
                                    <button class="btn btn-primary add-to-cart" data-articleid="{{Id}}"><i class="fa fa-cart-plus"></i> Do koszyka</button>
                                </div>
                            </div>
                            <h1 class="product-main-price">
                                {% if  Article.Price == null %}
                                -
                                {% else %}
                                {{Article.Price}}
                                {% endif %}
                                <small class="text-muted"></small>
                            </h1>
                        </div>

                        <h4>tagi</h4>
                        <!--<div class="text-right">
                            <div class="btn-group">
                                <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                            </div>
                        </div>-->
                        <hr>
                        <h3 class="text-center">Warianty</h3>
                        <div class="slick-variants m-r-md m-l-md" style="display:none">
                            {% for block in VariantBlocks %}
                            <div>
                                <div class="products-min varianst">
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            {% for article in block %}
                                            <div class="col-lg-3">
                                                <div class="file-box" style="width:100%;">
                                                    <div class="file no-margins" style="width:100%;">
                                                        <a title="{{article.Name}}" href="/Towar/{{article.Id}}">
                                                            <div class="image">
                                                                <img alt="{{article.Name}}" class="product-min-image" src="/Article/GetImageByOfferId?offerId={{article.Offer_id}}">
                                                            </div>
                                                            <div class="file-name truncate">
                                                                {{article.Name}}
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <h3>Opis produktu</h3>
                    <div class="small text-muted description">
                        {{Article.Description}}
                    </div>
                </div>
                <div class="row">
                    <!--<hr>-->
                    <dl class="dl-horizontal attributes small">
                        {% for attribute in Attributes %}
                        <dt>{{attribute.Name}}</dt>
                        <dd>{{attribute.Value}}</dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <hr>
                        <h3>Zamienniki</h3>
                        <div class="slick-replacements m-r-md m-l-md" style="display:none">
                            {% for block in ReplacementBlocks %}
                            <div>
                                <div class="products-min varianst">
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            {% for article in block %}
                                            <div class="col-lg-3">
                                                <div class="file-box" style="width:100%;">
                                                    <div class="file no-margins" style="width:100%;">
                                                        <a title="{{article.Name}}" href="/Towar/{{article.Id}}">
                                                            <div class="image">
                                                                <img alt="{{article.Name}}" class="product-min-image" src="/Article/GetImageByOfferId?offerId={{article.Offer_id}}">
                                                            </div>
                                                            <div class="file-name truncate">
                                                                {{article.Name}}
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <hr>
                        <h3>Inni klienci kupili również</h3>
                        <div class="slick-popular m-r-md m-l-sm" style="display:none">
                            {% for block in PopularBlocks %}
                            <div>
                                <div class="products-min varianst">
                                    <div class="col-lg-12 no-padding">
                                        <div class="row">
                                            {% for article in block %}
                                            <div class="col-lg-3">
                                                <div class="file-box" style="width:100%;">
                                                    <div class="file no-margins" style="width:100%;">
                                                        <a title="{{article.Name}}" href="/Towar/{{article.Id}}">
                                                            <div class="image">
                                                                <img alt="{{article.Name}}" class="product-min-image" src="/Article/GetImageByOfferId?offerId={{article.Offer_id}}">
                                                            </div>
                                                            <div class="file-name truncate">
                                                                {{article.Name}}
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr>
                    <h3>Opis promocji</h3>
                    <div class="small text-muted description">
                        promocja
                    </div>
                </div>
            </div>
            <!--<div class="ibox-footer">
                <span class="pull-right">
                    Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                </span>
                The generated Lorem Ipsum is therefore always free
            </div>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.product-images').slick({
            dots: true
        });
        $('.slick-variants').slick({
            dots: true
        });
        $('.slick-replacements').slick({
            dots: true
        });
        $('.slick-popular').slick({
            dots: true
        });
        $('.slick-variants, .product-images, .slick-popular, .slick-replacements').show();
        //$(window).trigger('resize');
    });
</script>
