{% if Items != blank %}            
    {% for item in Items %}
        {% if item.Order_number > 0 %}
            <li class="divider no-margins"></li>
        {% endif %}    
        <li class="result m-t-xs"> 
            <div class="dropdown-messages-box m-b-xs m-t-xxs" style="min-height:66px; padding:3px;">
                <a href="/Towar/{{item.Article.Id}}" class="">
                    <img alt="" class="pull-left m-r-xs img-shadow" style="max-height:60px;" src="/Article/GetImageByOfferId?offerId={{item.Article.Offer_id}}">
                </a>
                <div class="media-body">
                    <a href="/Towar/{{item.Article.Id}}" class="">
                        <strong class="pull-right m-r-xs m-t-xs">{{item.Article.Price}} {{CurrencyTypeName}}</strong>
                        <strong class="">{{item.Article.Name}}</strong> <br>
                        <small class="text-muted">{{item.Tags}}</small><br>                
                    </a>
                    {% if item.Category_id != blank %}
                        {% if item.Show_more_button == true %}
                            <button class="btn btn-xs btn-primary pull-right search-category-button" data-categoryid="{{item.Category_id}}" data-categoryname="{{item.Category_name}}"><i class="fa fa fa-share"></i> Wyszukaj więcej w {{item.Category_name}} </button>
                        {% else %}
                            <span class="pull-right">{{item.Category_name}}</span>
                        {% endif %}            
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
{% else %}
    <li class="result ">
        <div class="grid-preloader-prototype">
            <div class="text-center">
                <span class="font-bold">Brak wyników wyszukiwania</span>
            </div>
        </div>
    </li>
{% endif %}
