<body class="pace-done" style="">
    <nav class="navbar navbar-static-top border-bottom row" style="margin-bottom: 0">
        <div class="col-lg-3 ">
            <div class="navbar-header" role="navigation">
                <a class="im" href="/"><img class="img-circle m-l-md m-b-n-md m-t-xs circle-border logo-fit img-lg" {% if Company.Image_base64 == blank %} src="/Content/Assets/companyLogo.png" {% else %} src="{{Company.Image_base64}}" {% endif %}> </a>
            </div>
            <!--<div class="navbar-header ">
                <span  class="navbar-minimalize minimalize-styl-2 m-t-lg ">{{Company.Name}}  {{Title}}</span>
            </div>-->  
        </div>       
        <div class="col-lg-9 ">
            <!--<form id="article-search-form" action="/Article/Index" method="post" novalidate="novalidate">-->
                <div id="article-search" class="navbar-header input-group m-t-lg" data-url="/Article/Search" style="width:650px; display: inline-table;">
                    <input type="text" name="Search" placeholder="Wyszukaj w sklepie..." class="input form-control search" value="{{Search}}">
                    <ul class="result-box dropdown-menu dropdown-alerts" style="display:none; position:absolute;">
                        <li class="preloader" style="display:none;">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </li>
                    </ul>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn btn-primary search-button"> <i class="fa fa-search"></i></button>
                    </span>
                </div>
            <!--</form>-->
            <ul class="m-t-md nav navbar-top-links navbar-right">
                <!--<li>
                <span class="m-r-sm text-muted welcome-message">{{Title}}</span>
            </li>-->
                <!--<l
                i>
                <a href="/">
                    Pulpit
                </a>
            </li>-->
                <!--<l
                i>
                <a href="/Task">
                    Wszystkie
                </a>
            </li>-->
                <li>
                <li>
                    <a href="/Towary">
                        Towary
                    </a>
                </li>
                <li id="cart-navbar" class="dropdown" data-defaultcart="{{UserContext.Default_cart}}" data-url="/Cart/GetCartList">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false">
                        <i class="fa fa-shopping-cart" style="font-size:16px;"></i>  <span class="label label-primary cart-items">{{CartItems}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li class="preloader" style="display:none;">
                            <div class="sk-spinner sk-spinner-wave">
                                <div class="sk-rect1"></div>
                                <div class="sk-rect2"></div>
                                <div class="sk-rect3"></div>
                                <div class="sk-rect4"></div>
                                <div class="sk-rect5"></div>
                            </div>
                        </li>
                        <li>
                            <div class="text-center link-block">
                                <a class="add-cart" href="javascript:void(0);">
                                    <strong>Dodaj koszyk</strong>
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li>
                    <form action="/Account/LogOff" class="" id="logoutForm" method="post">
                        {{LogOutAntiForgery}}
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> Wyloguj</a>
                    </form>
                </li>
            </ul>
        </div> 
</nav>
    <div id="wrapper" class="gray-bg" style="">                                
            <div class="row" style="">
                @RenderBody()
            </div>
    </div>
</body>
<iframe id="downloadDocumentIframe" style="display:none;"></iframe>
<script>
        $(document).ready(function() {
            $('.footable').footable();
            $(document).on('click', '.download-file', function (event) {
                var url = $(this).data('url');
                document.getElementById('downloadDocumentIframe').src = url;
            });
            $('.file-uploader').fileUploader({                
            });
            $('#cart-navbar').cart({});
            setTimeout( function () {
                $(".truncate").dotdotdot({
                    watch: 'window',
                    wrap: 'letter'
                },0);
            });
            $('#article-search').search({});
        });
</script>

