<div class="wrapper wrapper-content fadeInRight">
    <!--<div class="row animated fadeInRight">-->
    <div class="col-lg-12">
        <div class="ibox">           
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">                        
                        <div class="slick_demo_1">

                            <div>
                                <div class="ibox-content">
                                    <h2>Slide 1</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries, but also the leap.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="ibox-content">
                                    <h2>Slide 2</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. Ithas survived not only five centuries, but also the leap.
                                    </p>
                                </div>
                            </div>
                            <div>
                                <div class="ibox-content">
                                    <h2>Slide 3</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries, but also the leap.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title "><!--border-bottom-->
                <h5>Polecane/Bestsellery</h5>                
            </div>
            <div class="m-t-sm">
                <div id="article-grid" data-url="/Article/GetAtricleGrid" data-pagesize="12" data-limit="12" data-columnnumber="6" data-itemwidth="2" max class="col-lg-12">
                </div>
            </div>
        </div>
        
    </div>
    <!--<div class="col-lg-4">
        <div class="contact-box">
            <a href="javascript:void(0);">
                <div class="col-sm-4">
                    <div class="text-center" style="max-width:120px;">
                        <img alt="image" class="img-circle m-t-xs img-responsive logo-image" style="object-fit: cover;"
                             {% if AccountManager.Image_base64 == blank %} src="/Content/Assets/userLogo.png" {% else %} src="{{AccountManager.Image_base64}}" {% endif %} />                        
                                                     
                    </div>
                </div>
                <div class="col-sm-8">
                    <strong>Twój opiekun</strong>
                    <h3><strong>{{AccountManager.Name}}</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                    <address>
                        <strong>Twitter, Inc.</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                        <p title="Telefon"><a class="collapse-link"><i class="fa fa-phone"></i></a> (123) 456-7890</p>
                        <p title="E-Mail"><a class="collapse-link"><i class="fa fa-at"></i></a> {{AccountManager.Email}}</p>
                    </address>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-info-circle"></i> Informacje dodatkowe
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Attribute in Attributes %}
                        {% if Attribute.Attribute_name == 'Usługi zdalne' %}
                        <tr>
                            <td>{{Attribute.Attribute_name}}:</td>
                            <td>{{Attribute.Display_value}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#article-grid').collection({});
        $('.slick_demo_1').slick({
            dots: true
        });
        //$('.slick_demo_3').slick({
        //    infinite: true,
        //    speed: 500,
        //    fade: true,
        //    cssEase: 'linear',
        //    adaptiveHeight: true
        //});
    });
        //$(document).ready(function () {


        //    $('.slick_demo_1').slick({
        //        dots: true
        //    });

        //    $('.slick_demo_2').slick({
        //        infinite: true,
        //        slidesToShow: 3,
        //        slidesToScroll: 1,
        //        centerMode: true,
        //        responsive: [
        //            {
        //                breakpoint: 1024,
        //                settings: {
        //                    slidesToShow: 3,
        //                    slidesToScroll: 3,
        //                    infinite: true,
        //                    dots: true
        //                }
        //            },
        //            {
        //                breakpoint: 600,
        //                settings: {
        //                    slidesToShow: 2,
        //                    slidesToScroll: 2
        //                }
        //            },
        //            {
        //                breakpoint: 480,
        //                settings: {
        //                    slidesToShow: 1,
        //                    slidesToScroll: 1
        //                }
        //            }
        //        ]
        //    });

        //    $('.slick_demo_3').slick({
        //        infinite: true,
        //        speed: 500,
        //        fade: true,
        //        cssEase: 'linear',
        //        adaptiveHeight: true
        //    });

        //});
</script>
