<tbody>
    <tr>
        <td class="no-borders">Suma: <span class="font-bold">{{SumAmount}} {{CurrencyTypeName}}</span></td>
        <td class="no-borders">Limit kredytowy: <span class="font-bold">1500 {{CurrencyTypeName}}</span></td>
    </tr>
    <tr>
        <td class="no-borders">VAT: <span class="font-bold">28,29 {{CurrencyTypeName}}</span></td>
        <td class="no-borders"></td>
    </tr>
    <tr>
        <td class="no-borders"> Transport: <span class="font-bold">15 {{CurrencyTypeName}}</span></td>
        <td class="no-borders"></td>
    </tr>
    <tr class="summary-total-amount">
        <td class="no-borders"><h2>Łącznie</h2></td>
        <td class="no-borders"><h2>{{TotalAmount}} {{CurrencyTypeName}}</h2></td>
    </tr>
</tbody>
