
<div id="cart-summary" class="wrapper wrapper-content cart-summary" data-id="{{Id}}">
    <div class="row m-l-xs m-r-xxs ">
        <div class="col-lg-12">
            <div class="ibox  border-left-right border-bottom m-b-sm">
                <div class="ibox-title">
                    <span class="pull-right">(<strong class="order-items">{{OrderItems}}</strong>) pozycji</span>
                    <h5>PODSUMOWANIE</h5>
                </div>
                <div class="cart-items-container ibox-content ">
                    <table class="table table-hover m-b-none table-summary">
                        <thead>
                            <tr>
                                <th style="width: 1%" class="text-center">Id.</th>
                                <th>Artykuł</th>
                                <th style="width: 4%" class="text-center">Ilość</th>
                                <th style="width: 15%" class="text-center">Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in Articles %}
                            <tr>
                                <!--{{article.Id}}-->
                                <td class="text-center">{{article.Order_item_id}}</td>
                                <td>{{article.Name}}</td>
                                <td class="text-center">{{article.Ordered_quantity}} szt.</td>
                                <td class="text-center"><span class="label label-primary price-label">{{article.Total_price}} {{CurrencyTypeName}}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
                <div class="ibox-content ibox-heading" style="height:150px;">
                    <div class="pull-right " style="text-align:right">
                        <label>Netto:</label>
                        <span> {{NetPrice}} {{CurrencyTypeName}}</span>
                        <br />
                        <label>VAT:</label>
                        <span> {{VatAmount}} {{CurrencyTypeName}}</span>
                        <br />
                        <label>Brutto:</label>
                        <span> {{GrossPrice}} {{CurrencyTypeName}}</span>   
                        <br />
                        <label>Koszt dostawy:</label>
                        <span> {{ShipmentPrice}} {{CurrencyTypeName}}</span>                      
                        <h3 class="text-navy">
                           Razem: {{TotalAmount}} {{CurrencyTypeName}}
                        </h3>
                    </div>

                    <label> Forma dostawy:</label>
                    <span> {{DeliveryMethod}}</span>
                    <br />
                    <label> Forma płatności:</label>
                    <span> {{PaymentForm}}</span>
                </div>                
            </div>
        </div>

    </div>
    <div class="row m-l-xs m-r-xxs ">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ibox  border-left-right border-bottom m-b-sm">
                        <div class="ibox-title">
                            <h5>Adres wysyłki</h5>
                        </div>
                        <div class="ibox-content">                            
                            <form id="shipment-address-data" action="javascript:void(0);" class="form-horizontal" method="post" novalidate="novalidate">
                                <!--<p class="font-bold">Adres wysyłki</p>-->
                                <input name="CartId" value="{{Id}}" type="text" style="display:none;">
                                <div class="m-b-xs">
                                    <input name="Name" value="{{ShipmentAddress.Name}}" title="Imię, nazwisko / nazwa firmy" placeholder="Imię, nazwisko / nazwa firmy" class="form-control valid" data-val="true" data-val-length="Pole Imię, nazwisko / nazwa firmy musi być ciągiem o maksymalnej długości 2000." data-val-required="Pole 'Imię, nazwisko / nazwa firmy' jest wymagane." data-val-length-max="2000" aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                                <div class="row m-r-xxs m-l-none">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group m-b-xs">
                                            <input name="MobilePhone" value="{{ShipmentAddress.Mobile_phone}}" title="Nr. Tel. Komórkowego" placeholder="Nr. Tel. Komórkowego" class="form-control valid" data-val="true" data-val-length="Nr. Tel. Komórkowego musi być ciągiem o maksymalnej długości 100." data-val-length-max="100" aria-required="false" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="MobilePhone" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6 pull-right">
                                        <div class="form-group m-b-xs ">
                                            <input name="Phone" value="{{ShipmentAddress.Phone}}" title="Nr. Telefonu" placeholder="Nr. Telefonu" class="form-control valid" data-val="true" data-val-length="Nr. Telefonu musi być ciągiem o maksymalnej długości 100." data-val-length-max="100" aria-required="false" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-r-xxs m-l-none">
                                    <div class="col-xs-8 col-md-8">
                                        <div class="form-group m-b-xs">
                                            <input name="Street" value="{{ShipmentAddress.Street}}" title="Ulica" placeholder="Ulica" class="form-control valid" data-val="true" data-val-length="Pole Ulica musi być ciągiem o maksymalnej długości 200." data-val-length-max="200" data-val-required="Pole Ulica jest wymagane." aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Street" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-md-4 pull-right">
                                        <div class="form-group m-b-xs ">
                                            <input name="StreetNumber" value="{{ShipmentAddress.Street_number}}" title="Numer budynku/lokalu" placeholder="Nr. budynku/lokalu" class="form-control valid" data-val="true" data-val-length="Pole Numer budynku i lokalu musi być ciągiem o maksymalnej długości 20." data-val-length-max="20" data-val-required="Pole Numer budynku i lokalu jest wymagane." aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="StreetNumber" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-r-xxs m-l-none">
                                    <div class="col-xs-4 col-md-4">
                                        <div class="form-group m-b-xs">
                                            <input name="ZipCode" value="{{ShipmentAddress.Zip_code}}" title="Kod pocztowy" placeholder="Kod pocztowy" class="form-control valid" data-val="true" data-val-length="Pole Kod pocztowy musi być ciągiem o maksymalnej długości 30." data-val-length-max="30" data-val-required="Pole Kod pocztowy jest wymagane." aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="ZipCode" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-8 col-md-8 pull-right">
                                        <div class="form-group m-b-xs ">
                                            <!--<label>CV </label>-->
                                            <!--<p class="font-bold m-b-none">Adres wysyłki</p>-->
                                            <input name="Post" value="{{ShipmentAddress.Post}}" title="Poczta" placeholder="Poczta" class="form-control valid" data-val="true" data-val-length="Pole Poczta musi być ciągiem o maksymalnej długości 100." data-val-length-max="100" aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Post" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-xs">
                                    <input name="City" value="{{ShipmentAddress.City}}" title="Miasto" placeholder="Miasto" class="form-control valid" data-val="true" data-val-length="Pole Miasto musi być ciągiem o maksymalnej długości 100." data-val-length-max="100" aria-required="true" aria-invalid="false" aria-describedby="Code-error" type="text">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="City" data-valmsg-replace="true"></span>
                                </div>
                                <div class="row m-r-xxs m-l-none">
                                    <div class="col-xs-6 col-md-6">
                                        <div class="form-group m-b-xs">
                                            <input name="Voivodeship" value="{{ShipmentAddress.Voivodeship}}" title="Województwo" placeholder="Województwo" class="form-control valid" data-val="true" data-val-length="Pole Miasto musi być ciągiem o maksymalnej długości 100." data-val-length-max="100" aria-required="false" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Voivodeship" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-md-6 pull-right">
                                        <div class="form-group m-b-xs ">
                                            <input name="Country" value="{{ShipmentAddress.Country}}" title="Kraj" placeholder="Kraj" class="form-control valid" data-val="true" data-val-length="Pole Kraj musi być ciągiem o maksymalnej długości 50." data-val-length-max="50" aria-required="false" aria-invalid="false" aria-describedby="Code-error" type="text">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Country" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                <div class="col-lg-4">
                    <div class="panel panel-default m-b-sm">
                        <div class="panel-heading">
                            Dane faktury
                        </div>
                        <div class="panel-body" style="height:280px; overflow-x:hidden;overflow-y:auto;">
                            Nazwa {{InvoiceData.Name}}
                            <br />
                            {{ShipmentAddress.Zip_code}} {{ShipmentAddress.Post}} {{ShipmentAddress.City}}, {{ShipmentAddress.Street}} {{ShipmentAddress.Street_number}}
                            <br />
                            NIP: {{InvoiceData.NIP}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="panel panel-default m-b-sm">
                        <div class="panel-heading">
                            Wewnętrzny numer zamówienia
                        </div>
                        <div class="panel-body" style="height:48px; overflow-x:hidden;overflow-y:auto;">
                            {{InternalOrderCode}}
                        </div>
                    </div>
                    <div class="panel panel-default m-b-sm">
                        <div class="panel-heading">
                            Uwagi:
                        </div>
                        <div class="panel-body" style="height:180px; overflow-x:hidden;overflow-y:auto;">
                            {{OrderComment}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins border-left-right border-bottom m-b-sm">
                        <div class="ibox-content">
                            <div class="m-b-n-sm">
                                <button class="btn btn-primary pull-right finalize-order"><i class="fa fa fa-check"></i> Zamawiam z obowiązkiem zapłaty</button>
                                <div class="btn-group">
                                    <a href="/Towary" class="btn btn-white "><i class="fa fa-arrow-left"></i> Wróć do zakupów</a>
                                    <a href="#" class="btn btn-primary "><i class="fa fa-paper-plane"></i> Wyślij "do akceptacji"</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#cart-summary').cartSummary({ addressDataFormSel: '#shipment-address-data' });
</script>
